*{
	margin: 0;
	padding: 0;
}
.search-box{
	margin-top: 190px;
	position: center;
	align-items: center;
	margin-left:400px;
	padding: 0;
}
.header ul{
	display: inline-flex;
	margin: 50px;
	flex-direction: right;
}
.header ul li{
	list-style: none;
	margin: 0 20px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	padding-right: 10px;
	margin-left: 80px;
	background-color: transparent;
}
.btn{
	height: 30px;
	width: 100px;
	border-radius: 20px;
	border: thin solid black;
}
.img .amazon{
	height: 98px;
	width: 120px;
	border: thin solid black;
	border-radius: 20px;
}
.img .gmail{
	height: 98px;
	width: 120px;
	border: thin solid black;
	border-radius: 20px;
}
.img .github{
	height: 98px;
	width: 120px;
	border: thin solid black;
	border-radius: 20px;
}
.img{
	display: inline-flex;
	flex-direction: row;
	margin-left: -120px;
}
.top{
	height: 30px;
	width: 30px;
	float: right;
	margin-top: 25px;
	margin-right: 20px;
	border-radius: 3px;
}


